<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">jdbc:mysql://localhost:3306/wuziqi</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<mapping class="base.model.Permission"/>
		<mapping resource="Permission.hbm.xml"/>
		<mapping class="base.model.Personsetting"/>
		<mapping resource="Personsetting.hbm.xml"/>
		<mapping class="base.model.Role"/>
		<mapping resource="Role.hbm.xml"/>
		<mapping class="base.model.User"/>
		<mapping resource="User.hbm.xml"/>
		<mapping class="base.model.UserInfo"/>
		<mapping resource="Userinfo.hbm.xml"/>
		<mapping resource="User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>