<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		<context:annotation-config/>
		<context:component-scan base-package="base"></context:component-scan>
		<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
			<property name="dataSource" ref="dataSource"></property>
			<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		</bean>

		<bean id="txManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
			<property name="sessionFactory" ref="sessionFactory"/>
		</bean>

		<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
			<property name="driverClass" value="com.mysql.jdbc.Driver"/>
			<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/wuziqi"/>
			<property name="user" value="root"/>
			<property name="password" value="1994"/>
		</bean>
		<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
			<property name="sessionFactory" ref="sessionFactory"></property>
		</bean>
		<!--dao层-->
		<bean id="baseDAO" class="base.dao.BaseDAOImpl">
			<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		</bean>
		<bean id="userDAO" class="base.dao.UserDAOimpl">
			<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		</bean>
		<!--业务层-->
		<bean id="userServiceTarget" class="base.service.UserServiceImpl">
			<property name="userDAO" ref="userDAO"></property>
		</bean>
		<!--表现层-->
		<bean id="loginAction" class="base.action.loginAction">
			<property name="userService" ref="userServiceTarget"></property>
		</bean>


</beans>