body{
    text-align: center;
}
#testCanvas {
    position: absolute;
    margin: auto;
    top: 50px;left: 0;bottom: 0;right: 0;
    z-index: 0;
}
#testCanvas2 {
    position: absolute;
    margin: auto;
    top: 50px;left: 0;bottom: 0;right: 0;
    z-index: 5;
}
#takeBack{

}