body{
    text-align: center;
}
#testCanvas {
    position: absolute;
    margin: 0 auto;
    width: 750px;
    height: 750px;
    z-index: 1;
}
#testCanvas2 {
    position: absolute;
    margin: 0 auto;
    width: 750px;
    height: 750px;
    z-index: 5;
}